@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--beige);
  --foreground: var(--coffee);

  --beige: #F5F5DC;
  --khaki: #CBB799;
  --chamoisee: #A07856;
  --coffee: #6F4D38;
  --bistre: #3D211A;
  --gold: #FFCF40;

  --header-height: 100px;

  --padding-page-mobile: 32px;
  --padding-page-desktop: var(--padding-y-desktop) var(--padding-x-desktop);

  --padding-y-desktop: 40px;
  --padding-x-desktop: 80px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geo), Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  font-family: var(--font-magical-nordic), Serif, sans-serif;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

@media screen and (min-width: 640px) {
  .scrollable {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--coffee);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--khaki);
    }
  }
}
